<html>
  <body>
    <div class='content'>


      <div class='message' style="background-image:url(http://hnlpostcard.herokuapp.com/static/images/email_bg.png);width:577px; height:311px;margin:auto;">
       
        <div class='postcardinfo' style='float:right;width:300px;text-align:center;'>
          <div class='postcardaddress' style='text-align:left;width:250px;margin:auto;margin-top:30px;border-bottom:dashed 1px #999;'>
            <div style='margin-bottom:20px;font-weight:bold;font-size:1.1em;color:#ffa000;'>
              <span style='color:#fff;font-style:italic;font-size:0.8em;font-weight:normal;'>TO:</span> {{ toname }}
            </div>
            <div style='margin-bottom:20px;font-weight:bold;font-size:1.1em;color:#ffa000;'>
              <span style='color:#fff;font-style:italic;font-size:0.8em;font-weight:normal;'>FROM:</span> {{ fromname }}
            </div>
          </div>
          <div class='postcard' style='margin-top:10px;'>
            <a href='{{ url }}' style='color:#fff;font-size:12px;margin-bottom:5px;'>Click here to view your postcard.</a>
            <a href='{{ url }}'>
              <img src='http://hnlpostcard.herokuapp.com/static/images/email_small_postcard.png' style='margin-top:5px;border:none;' /></a>
          </div>
        </div>
        <div class='alohalogo' style="background-image:url(http://hnlpostcard.herokuapp.com/static/images/email_left.png);height:158px;width:167px;position: relative;top:75px;left:45px;"></div>
        
      </div>
      
    </div>

  </body>
</html>
