<html>
  <head>
    <title>Aloha! A message from Honolulu</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/static/js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div id="content">

      <div class="container aloha">
	    <div class="card">
		  <div class="face front">
            <img src="/static/images/postcard_front.jpg" /> 
            
		  </div>
		  <div class="face back">

            <div id="heading">
              <div id="fromhonolulu"></div>
              <div id="postmark"></div>
            </div>
            <div class="spacer"></div>
            <div id="postcardcontent">
              <div id="date">January 20, 2012</div>
              <div class="spacer"></div>
              <div id="greeting">Dear Lucky,</div>
              <div id="message">
Pandas and gradient backgrounds increase transparency in local government through Twitter and #gov20. Oswald font is great for communication through scotch and San Fran- cisco for Claremont McKenna Director of Communication loafers and elbow pads. Sweater vests are a great commu- nication story make the logo bigger for innovative strategy and Code for America. A start-up social layer for GMail and local innovation Young Democrats of America magna cum laude Oxford comma.
              </div>             
            </div>
            <div id="postcardaddress">
              <div><span>TO:</span> Lucky</div>
              <div><span>FROM:</span> Thoughtful</div>
            </div>

		  </div>
	 	</div>
	  </div>


      
    </div>
  </body>
</html>
